@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 50%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    /* letter-spacing: 0.25em; */
}

h1, h2, h3{
    margin-bottom: 0.5em;
    /* letter-spacing: 0.20em; */
    font-weight: 500;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 4rem;
    /* text-align: center; */
    /* text-transform: uppercase; */
    font-family: 'Caveat', cursive;
    /* text-transform: capitalize; */
    font-weight: 400;
}

.md-heading{
    font-size: 2rem;
    letter-spacing: 0.10em;
    /* text-align: center; */
    text-transform: capitalize;
    /* padding-bottom: 1.5rem; */
}

.text-red{
    color: red;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-grey{
    color: #555555;
}

.navbar{
    padding: 1rem;
    background-color: #263238;
}


.header .navbar a{
    color:white;
}

.header .logo{
    color: white;
    float: left;
    font-size: 3.0rem;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .10em;
}

.header .navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.header .navbar .nav-item{
    display: inline;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.showcase{
    background: #dddddd;
    padding: 10rem 0;
}

.row{
    height: 22rem;
    
}

.row1{
    margin-bottom: 24rem ;
}

.row1 .img-box{
    float: left;
    width: 25%;
    height: auto;
}

.row1 .text-box{
    float: right;
    width: 75%;
    height: auto;
}

.row .img-box img{
    display: inline;
    height: 100%;
    width: 100%;
    object-fit: fill;
    padding: 3rem;
    padding-bottom: 3rem;
}

.row1 .text-box{
    border: 2px yellow;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 0;
    padding-right: 2%;
}

.row .text-box{
    height: 100%;
}

.social-media-links a{
    margin: 2rem;
    color: white;
}
.footer{
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}


@media (max-width: 700px)
{
    html{
        font-size: 50%;
    }
    .header .logo{
        font-size: 2.5rem;
    }
    .header .navbar .nav-item{
        display: inline;
        padding: 0.5rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .row{
        height: auto;
        width: 100%;   
    }
    .row .img-box img{
        /* border: 2px green; */
        height: auto;
        width: 100%;
        object-fit: cover;
        padding: 1rem;
        float: none;
        /* padding-bottom: 3rem; */
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }   
    /* .map{
        object-fit: cover;
    } */
}